.title-atsqure{
    padding: 120px 50px 50px 50px;
    border: 1px solid var(--whit-gray-color);
    width: 100%;
    .text1{
        max-width: 1280px;
        color: rgba(255, 255, 255, 1);
        h1{
            font-weight: 600;
            font-size: 48px;
        }
        p{
            width: 74.21875%;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: -0.6%;
            padding: 14px 0 50px 0;
        }
    }
    .text2{
        width: max-content;
        border-radius: 8px;
        padding: 12px 14px;
        background-color: rgba(38, 38, 38, 1);
        span{
        color: rgba(255, 255, 255, 1);
        font-size: 22px;
        background: none;
        }
    }
  
}
@media screen and (max-width:1440px) {
    .title-atsqure{
        padding: 80px 40px 40px 40px ;
        width: 100%;
        .text1{
            h1{
                font-size: 38px;
            }
            p{
                font-size: 16px;
                padding: 10px 0 40px 0;
            }
        }
        .text2 {
            border-radius: 6px;
            padding: 10px;
            span{
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width:992px){
    .title-atsqure{
        padding: 40px 16px 40px 16px;
        .text1{
            h1{
                font-size: 28px;
            }
            p{
                font-size: 14px;
                padding: 6px 0 30px 0;
            }
        }
        .text2{
            border-radius: 6px;
            padding: 10px;
            span{
                font-size: 16px;
            }
        }
    }
}
/* finsh*/