.DA-Container{
    position: relative;
    &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/assets/img/Square-effect.png");
    background-repeat: repeat;
    opacity: 0.6; 
    z-index: 0;
    pointer-events: none;
    }
    .DA_Hero{
        background-image: url("/assets/img/heroSection p Home.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center bottom; 
        position: relative;
        z-index: 2; 
        height: 100%;
        padding-top: 112px;
        padding-bottom: 274px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--whit-gray-color);
        h1{
            max-width: 50%;
            font-weight: 600;
            font-size: 68px;
            padding-bottom: 40px;
            text-align: center;
            color: #FFFFFF;
        }
            .DA_Paragraph{
                background-color: #24242433;
                backdrop-filter: blur(12px);
                border: 1px solid var(--whit-gray-color);
                border-radius: 12px;
                height: 98px;
                p{
                color: #98989A;
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 24px 40px;
                span{
                    padding: 12px 14px;
                    background-color: var(--whit-gray-color);
                    border-radius: 8px;
                    color: #fff;
                }
            }
        }
        .DA_Btns{
            display: flex;
            align-items: center;
            gap: 13px;
            margin-top: 50px;
            .DA_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: #24242433;
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: #fff;
                cursor: pointer;
                transition: 0.2s all;
            }
            .DAGreen_Btn{
                text-decoration: none;
                font-size: 18px;
                padding: 18px 28px;
                border: 1px solid var(--whit-gray-color);
                border-radius: 10px;
                background-color: var(--lime-green-color);
                border: 1px solid #333333;
                backdrop-filter: blur(12px);
                color: black;
                cursor: pointer;
                transition: 0.2s all;
            }
        }

    }
}

@media screen and (max-width: 1440px) {
    .DA-Container {
        .DA_Hero{
            background-position: center 106%;
            h1{
                max-width: 40%;
                font-size: 48px;
                padding-bottom: 30px;
            }
            .DA_Paragraph{
                height: 74px;
                border-radius: 8px;
                p{
                    padding: 18px 30px;
                    span{
                        font-size: 18px;
                        padding: 8px 10px;
                    }
                }
            }
            .DA_Btns{
                margin-top: 40px;
                .DA_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
                .DAGreen_Btn{
                    padding: 14px 20px;
                    font-size: 14px;
                }
            }
        }

    }
}
@media screen and (max-width: 992px) {
    .DA-Container {
        .DA_Hero {
            background-size: 239% 43%;
            padding: 80px 16px 205px 16px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 16px;
            border: none;
            h1{
                max-width: 100%;
                font-size: 34px;
            }
            .DA_Paragraph{
                display: flex;
                align-items: center;
                max-height: 100%;
                p{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                    padding: 18px 20px;
                    span{
                        all: unset;
                        display: inline;
                    }
                }
            }
        }
    }
}