
.DA-Container {
    padding: 0 162px;
}

.DA_Hero {
    background-image: url("/assets/img/Square-effect.png");
    background-repeat: repeat;
    height: 100vh;
    padding-top: 212px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--whit-gray-color);
}

.DA_Hero img {
    height: 41.48%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-repeat: repeat;
}
.DA_Title{
    font-weight: 600;
    font-size: 68px;
    text-align: center;
    color: #FFFFFF;


}
.DA_Hero .DA_Paragraph span {
    padding: 8px 10px;
    background-color: var(--whit-gray-color);
    border-radius: 8px;
    color: #fff;
}

.DA_Hero .DA_Btns {
    display: flex;
    gap: 13px;
    margin-top: 50px;
}

.DA_Hero .DA_Btn {
    text-decoration: none;
    font-family: barlow5;
    font-size: 18px;
    padding: 18px 28px;
    border: 1px solid var(--whit-gray-color);
    border-radius: 10px;
    background-color: #24242433;
    border: 1px solid #333333;
    backdrop-filter: blur(12px);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}
.DA_Hero .DAGreen_Btn {
    text-decoration: none;
    font-family: barlow5;
    font-size: 18px;
    padding: 18px 28px;
    border: 1px solid var(--whit-gray-color);
    border-radius: 10px;
    background-color: var(--lime-green-color);
    border: 1px solid #333333;
    backdrop-filter: blur(12px);
    color: black;
    cursor: pointer;
    transition: 0.2s all;
}

@media screen and (max-width: 1440px) {
    .DA-Container {
        padding: 0 80px;
    }

    .DA_Hero {
        padding-top: 197px;

    }

    .DA_Hero .DA_Title {
        font-size: 48px;
        margin-bottom: 30px;
        max-width: 699px;
    }

    .DA_Hero .DA_Paragraph {
        max-width: 699px;
        font-size: 18px;
        padding: 18px 30px;
        margin-bottom: 40px;
    }

    .DA_Hero .DA_Btn {
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (max-width: 992px) {
    .DA_Hero img {
        /* position: absolute;
        top: 0;
        left: 0; */
        /* transform: translateY(50px); */
    }

    .DA-Container {
        padding: 0 16px;
    }


    .DA_Hero {
        padding-top: 100px;
        height: auto;
        min-height: 100vh;
        padding-left: 16px;
        padding-right: 16px;

    }

    .DA_Hero .DA_Title {
        font-size: 34px;
        margin-top: -40px;
    }

    .DA_Hero .DA_Paragraph {
        font-size: 16px;
        padding: 18px 20px;
        line-height: 1.5;
        margin-top: -20px;
        color: #98989A;
    }

    .DA_Hero .DA_Paragraph span {
        color: #98989A;
        background: none;
        white-space: nowrap;
        background-color: transparent;
        backdrop-filter: none;
    }



}