/* ===============================
BASE
================================ */

.DA_CardsContainer {
    margin: 100px auto;
    position: relative;
    border: 1px solid #262626 ;
    color: #fff;
    background: transparent;
    border: 0.25px solid var(--whit-gray-color);
}

.DA_Slider {
    overflow: visible;
    position: relative;
    z-index: 2;
    background: transparent;
    border: 1px solid #262626;
}

.DA_Slide {
    display: flex;
    justify-content: center;
    background: transparent;
}

/* ===============================
CARD
================================ */
.DA_Card {
    flex: 0 0 calc(100% / var(--items-per-slide));
    border-radius: 14px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.DA_Card h2 {
    color: var(--whit-green-text-color);
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.DA_Card p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.ContentCard {
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid #262626;
    border-radius: 10px;
    padding: 16px;
    height: 104px;
}

.DA_Info h3 {
    font-size: 18px;
    margin-top: 10px;
}

.DA_Info p {
    font-size: 15px;
    color: #aaa;
    margin-top: 7px;
}

.DA_Button {
    margin-left: auto;
    padding: 14px 26px;
    border-radius: 8px;
    border: 1px solid #262626;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition:
        background 0.3s ease,
        transform 0.25s ease,
        box-shadow 0.3s ease,
        color 0.3s ease;
}

.DA_Button:hover {
    background: var(--whit-green-text-color);
    color: black
}



/* ===============================
ARROWS
================================ */
.Button-left,
.Button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    padding: 10px 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.Button-left {
    left: -60px;
}

.Button-right {
    right: -60px;
}


.Button-left:hover,
.Button-left:active,
.Button-right:hover,
.Button-right:active {
    color: var(--whit-green-text-color);

    transform: translateY(-50%) scale(1.1);

    box-shadow: 0 0 20px var(--whit-green-text-color);
}

/* ===============================
DOTS
================================ */
/* ===============================
DOTS BASE
================================ */
.Dots {
    margin: 24px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.Dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.Dot.active {
    background: var(--whit-green-text-color);
    transform: scale(1.4);
}


/* ===============================
GRID ( > 1440px )
================================ */
.DA_CardsContainer.grid .DA_Slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.Button-left,
.Button-right {
    display: none;
}


/* ===============================
TABLET
================================ */
@media (max-width: 1440px) {

    .Button-left,
    .Button-right {
        display: block;
    }

    .Button-left {
        left: 10px;
    }

    .Button-right {
        right: 10px;
    }
}

/* ===============================
MOBILE
================================ */
@media (max-width: 992px) {
    .DA_Button {
    display: none;
    }

    .Button-left,
    .Button-right {
        display: none;
    }

    .Dots {
        min-width: 30px;
    }
}