.works-div {
    margin: 0 auto;

}

.works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.toggle-btn {
    margin: 30px auto 30px 50%;
    transform: translateX(-50%);
    padding: 10px 14px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: rgba(152, 152, 154, 1);
    background-color: var(--whit-gray-color);
    &:hover{
        background-color: var(--whit-green-text-color);
        transition: 0.5s all;
    }
}

@media (max-width: 1440px) {
    .toggle-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 8px 10px;
    }
}

/* موبايل */
@media (max-width: 992px) {
    .works-grid {
        grid-template-columns: 1fr;
    }
}