.datestimonials-section {
    max-width: 100%;
    margin: 0 162px;
    height: max-content;
    overflow:hidden;
}
@media screen and (max-width:1440px){
    .datestimonials-section{
        margin: 0 80px;
    }
}
@media screen and (max-width:992px){
    .datestimonials-section{
        margin: 0 16px;
    }
}