/* ===============================
Trusted Logos Section
================================ */

/* الحاوية العامة */
.logos-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 161px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: -2px;
}

.logos-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    padding: 20px 34px;
    border-radius: 100px;
    white-space: nowrap;
}

/* صندوق اللوجوهات */
.logos-box {
    width: 100%;
    padding: 56px 20px 52px;
    border: 1px solid var(--whit-gray-color);
    box-sizing: border-box;
}

/* container اللوجوهات */
.logos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

/* كل لوجو */
.logo {
    height: 32px;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.logo:hover {
    opacity: 1;
}

/* ===============================
Trusted Logos Section Media Queries
================================ */

/* للشاشات أقل من 1440px */
@media screen and (max-width: 1440px) {
    .logos-wrapper {
        padding: 0 80px;
    }

    .logos-title {
        font-size: 16px;
        padding: 14px 4px;
    }

    .logos-box {
        padding: 48px 16px 44px;
    }

    .logos-container {
        gap: 60px;

    }

    .logo {
        height: 28px;

    }

    /* للشاشات أقل من 992px */
    @media screen and (max-width: 992px) {
        .logos-wrapper {
            padding: 0 16px;
            margin-top: -300px;
            background-color: var(--dark-gray-color);
            grid-template-rows: repeat(3 , 2fr);
        }

        .logos-title {
            font-size: 14px;
            padding: 12px 40px;
        }

        .logos-box {
            padding: 50px 20px 32px;
        }

        .logos-container {
            gap: 40px;
        }

        .logo {
            height: 24px;
        }

        .DA_Hero .DA_Btn,
        .DA_Hero .DAGreen_Btn {
            font-size: 14px;
            padding: 12px 20px;
            border-radius: 8px;
        }

    }
}