/* ===============================
Trusted Logos Section
================================ */

/* الحاوية العامة */
.logos-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos-title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border: 1px solid #262626;
    background-color: #1A1A1A;
    padding: 20px 34px;
    border-radius: 100px;
}

/* صندوق اللوجوهات */
.logos-box {
    width: 100%;
    padding: 40px 0;
    border: 1px solid var(--whit-gray-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* container اللوجوهات */
.logos-container {
    max-width: 250px;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    opacity: 1;
}

/* ===============================
Trusted Logos Section Media Queries
================================ */

/* للشاشات أقل من 1440px */
@media screen and (max-width: 1440px) {
    .logos-wrapper {
        padding: 0 80px;
    }

    .logos-title {
        font-size: 16px;
        padding: 14px 24px;
    }

    .logos-box {
        padding: 48px 16px 44px;
    }

    .logos-container {
        gap: 60px;
    }

    /* للشاشات أقل من 992px */
    @media screen and (max-width: 992px) {
        .logos-wrapper {
            padding: 0 16px;
            background-color: var(--dark-gray-color);
        }

        .logos-title {
            font-size: 14px;
            padding: 12px 40px;
        }

        .logos-box {
            padding: 0;
            gap: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .logos-container {
            padding: 30px 0px;
            border: 1px solid var(--whit-gray-color);
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .DA_Hero .DA_Btn,
        .DA_Hero .DAGreen_Btn {
            font-size: 14px;
            padding: 12px 20px;
            border-radius: 8px;
        }
    }
}