.logos-wrapper {
    position: relative;
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px 20px 32px;
    box-sizing: border-box;

    border: 1px solid var(--whit-gray-color) ;
}

/* العنوان */
.logos-title {
    margin: 0 0 24px;  
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}
.logos-container .logo:first-child {
    margin-left: -140px; 
}


/* كل لوجو */
.logo {
    height: 32px;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.logo:hover {
    opacity: 1;
}
