.space-x-today{
    padding: 0 162px;
}

.yb-today-squareUp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--whit-gray-color);
    padding: 80px;
    gap: 50px;
}

.yb-top-section{
    display: flex;
    align-items: center;
    gap: 40px;
}

.yb-icon-today{
    width: 150.7px;
    height: 150px;
    background-color: var(--IDentity_color);
}

.yb-text-today{
    color: #98989A;
}

.yb-title-today{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.yb-description-today{
    font-size: 18px;
    font-weight: 400;
}

.yb-bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 40px 26.5px;
    gap: 20px;
    background-color: #24242433;
    border: 1px solid var(--whit-gray-color);
}

.yb-container{
    padding: 14px 20px;
    gap: 10px;
    border-radius: 8px;
    background-color: var(--whit-gray-color);
}

.yb-title-today2{
    font-size: 20px;
    color: #98989A;
    font-weight: 400;
}

.yb-description-today2{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.yb-btn-today{
    background-color: var(--lime-green-color);
    color: #1A1A1A;
    padding: 18px 34px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    min-width: 170px;
}


@media (max-width: 1440px){
    .space-x-today{
    padding: 0 80px;
}

    .yb-today-squareUp{
        padding: 60px;
    }

    .yb-top-section{
        gap: 30px;
    }

    .yb-icon-today{
        width: 100.47px;
        height: 100px;
    }

    .yb-title-today{
        font-size: 24px;
        margin-bottom: 14px;
    }

    .yb-description-today{
        font-size: 16px;
    }

    .yb-bottom-section{
        border-radius: 10px;
        padding: 30px 22.5px;
        gap: 14px;
    }

    .yb-container{
        padding: 10px 14px;
        border-radius: 6px;
    }

    .yb-title-today2{
        font-size: 18px;
    }

    .yb-description-today2{
        color: white;
        font-size: 16px;
    }
}

@media (max-width: 992px){
    .space-x-today{
    padding: 0 16px;
    }

    .yb-today-squareUp{
        padding: 40px 24px;
    }

    .yb-top-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .yb-icon-today{
        width: 80.38px;
        height: 80px;
    }

    .yb-title-today{
        margin-bottom: 10px;
    }

    .yb-description-today2{
        font-size: 16px ;
    }

    .yb-bottom-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 14px;
    }

    .yb-container{
        padding: 10px 14px;
        border-radius: 6px;
    }

    .yb-btn-today{
        padding: 16px 24px;
        font-size: 16px;
        width: 100%;
    }
}