.sa-contact-section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  
}

.sa-contact-container {
  width: 100%;
  max-width: 1000px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
 
}
.sa-contact-box {
    width: 100%;
    border: 1px solid var(--whit-gray-color);
    overflow: hidden; 
  }
  .sa-contact-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
    
.sa-info-cards {
  max-width: 700px; 
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

.sa-info-card {
  background-color: var(--whit-gray-color);
  border: 1px solid var(--whit-gray-color);
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.sa-info-card:hover {
  border-color: var(--lime-green-color);
}

.sa-info-icon {
 background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.sa-info-text {
  color: #ffffff;
  font-size: 14px;
  background-color: transparent;
}
.sa-divider-horizontal {
    width: 100%;
    height: 1px;
    background-color: #262626;
  }
  
.sa-contact-form {
  max-width: 1000px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent;
}

.sa-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  
}

.sa-input-group {
  background-color: #24242480;
  display: flex;
  flex-direction: column;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px;
  gap: 14px;
  
}

label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
}

.sa-form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  padding: 10px 0px;
}

.sa-form-input:focus,
.sa-form-textarea:focus {
  outline: none;
  border-bottom-color: var(--lime-green-color);
}
.sa-form-textarea {
    background-color: transparent;
    border: none;
    color: #ffffff;
    resize: none;
    font-size: 14px;
    min-height: 88px;   
    padding-bottom: 0; 
    line-height: 1.6; 
  }
  

.sa-textarea-wrapper {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.sa-line {
  height: 1px;
  width: 100%;
  background-color: #333333;
}
.sa-line.first {
    margin-top: 6px;   
  }
  .sa-line.second {
    margin-top: 4px;   
  }
  
.sa-options-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background-color: transparent;
  margin-top: 10px;
}

.sa-radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.sa-radio-label input {
  display: none;
}

.sa-custom-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sa-radio-label input:checked + .sa-custom-checkbox::after {
  content: "✓";
  color: var(--lime-green-color);
  font-size: 12px;
}

.sa-submit-btn {
  background-color: var(--lime-green-color);
  color: #000000;
  padding: 14px 36px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
}

.sa-submit-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
.sa-contact-wrapper {
    width: 100%;
    border-top: 1px solid var(--whit-gray-color);
  }
.sa-contact-bottom{
    display: grid;
  grid-template-columns: 1fr 1px 1fr;
  align-items: stretch; 
    
}
.sa-contact-divider {
    background-color: var(--whit-gray-color);
  }
  .sa-contact-left,
.sa-contact-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px 32px;
}


 .sa-social-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;
}

.sa-label-contact {
    color: #98989A; 
    font-size: 16px;
    white-space: nowrap;
}

.sa-value-contact {
    color: #ffffff;
    background-color: #24242480;

  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
}

.sa-social-placeholder {
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.sa-social-placeholder img {
        width: 32px;
        height: 32px;
        padding: 6px;
        background-color: #1A1A1A;
        border-radius: 6px;
        border: 1px solid var(--whit-gray-color);
        cursor: pointer;
        transition: 0.3s;
    }

    .sa-social-placeholder img:hover {
            border-color: var(--lime-green-color);
        }
   
@media screen and (max-width: 992px) {
  
    .sa-info-cards {
      grid-template-columns: 1fr;} 
    

    .sa-contact-form {
      padding: 30px;
    }

      .sa-form-grid {
        grid-template-columns: 1fr; 
      }

      .sa-submit-btn {
        width: 100%;
      }
     .sa-options-flex{
        grid-template-columns: 1fr;
     }
    
        
        .sa-contact-bottom {
            grid-template-columns: 1fr; 
        }
    
        .sa-contact-divider {
            display: none; 
        }
    
        .sa-contact-left {
            border-bottom: 1px solid var(--whit-gray-color);
            padding: 20px;
        }
    
        .sa-contact-right {
            padding: 20px;
        }
    
        .sa-operating-info, .sa-social-wrapper {
            flex-direction: column; 
            gap: 15px;
        }
    
    }
