/* تنسيق عام على الناف بار */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--whit-gray-color);
    padding: 22px 162px; 
    z-index: 6;
    img {
        max-width:  178px;
    }
    ul {
        display: flex;
        gap: 30px;
        li{
            list-style: none;
            a {
                text-decoration: none;
                color: #E6E6E6;
                font-weight: 500;
                line-height: 150%;
                font-size: 18px;
                border-radius: 6px;
                &:hover , &.active{
                background-color: var(--whit-gray-color);
                padding: 14px 24px;
                }
            }
            &:last-child{
                display: none;
            }
        }
    }
    .btn-nav{
        padding: 16px 24px;
        border-radius:8px ;
        background-color: var(--lime-green-color);
        border: none;
    }
    .btn-nav-media{
        display: none;
    }
}
/* تنسيق على شاشات اللابتوب */
@media screen and (max-width:1440px){
    nav{
        padding: 23px 80px;
        img {
        max-width:  120px;
        }
        ul {
            gap: 24px;
            li {
                font-size: 14px;
                &:hover , &.active{
                padding: 12px 18px;
                }
            }
        }
        .btn-nav{
            padding: 12px 18px;
        }
    }
}
/* تنسيق على الشاشات الصغيرة */
@media screen and (max-width:992px){
    nav{
        padding: 48px 16px 23px 16px;
        position: relative;
        z-index: 10;
        ul {
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 100%;
            left: 0;
            z-index: 4;
            opacity: 0;
            visibility: hidden;
            gap: 0;
            li {
                width: 100%;
                text-align: start;
                background-color:var(--dark-gray-color);
                border: 1px solid var(--whit-gray-color);
                padding: 12px 18px;
                a {
                    display: block;
                    width: 100%;
                }
                &:last-child{
                    display: block;
                }
            }
            /* تنسيق فتح القائمة المخفية ul */
            &.open {
                transform: translateY(0);
                width: 100%;
                left: 0;
                opacity: 1;
                visibility: visible;
                transition: 1s all ease-in-out;
            }
        }
        .btn-nav{
        display: none;
        }
        /* تنسيق زر فتح القائمة */
    .btn-nav-media{
        display: block;
        width: 46px;
        height: 46px;
        border: none;
        padding: 6px;
        border-radius: 6px;
        background-color:var(--whit-gray-color);
        }
    }
}