.our-story {
    max-width: 100%;
    height: max-content;
    border: 1px solid var(--whit-gray-color);
    border-top: none !important;
    overflow:hidden;
    .ourstory-title{
        margin: 100px 0;
        padding:0  50px;
        width: 100%;
    }
    .our-story-card{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (max-width:1440px){
    .our-story{
        .ourstory-title{
        margin: 80px 0;
        }
    }
}
@media screen and (max-width:992px){
    .our-story{
        .ourstory-title{
            margin: 40px 0;
        }
        .our-story-card{
            grid-template-columns: 1fr;
        }
    }
}