.our-story {
    max-width: 100%;
    margin: 0 162px;
    height: max-content;
    border: 1px solid var(--whit-gray-color);
    border-top: none !important;
    overflow:hidden;
    .ourstory-title{
        margin-top: 100px;
        margin-bottom: 100px;
        padding:0  50px;
        width: 100%;
    }
    .our-story-card{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (max-width:1440px){
    .our-story{
        margin: 0 80px;
        .ourstory-title{
        margin-top: 80px;
        margin-bottom: 80px;
        }
    }
}
@media screen and (max-width:992px){
    .our-story{
        margin: 0 16px;
        .ourstory-title{
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .our-story-card{
            grid-template-columns: 1fr;
        }
    }
}