footer{
    padding: 23px 80px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid var(--whit-gray-color);
    color:#E6E6E6;
}

.first_type_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width:  120px;
    }
}
ul {
        display: flex;
        align-items: center;
        gap:20px;
        li{
            list-style: none;
        }
    }
.line{
    border: 1px solid var(--whit-gray-color);
}

@media screen and (max-width:992px){
    footer{
        padding: 30px 16px;
        gap: 30px;
        text-align: center;
    }
    .first_type_footer{
        flex-direction: column;
        gap: 30px;
        h1 {
            width: 100%;
            border-bottom: 1px solid var(--whit-gray-color);
            padding-bottom: 30px;
        }
    ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    }
}