/* تنسيققات عامة عللى الفوتر */
footer{
    padding: 50px 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-top: 1px solid var(--whit-gray-color);
    color:#E6E6E6;
}
/* القسم الاول  */
.first_type_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-width:  178px;
    }
    .all-page{
        gap:30px;
    }
}
    ul {
        display: flex;
        align-items: center;

        li{
            list-style: none;
        }
    }
.line{
    border: 1px solid var(--whit-gray-color);
}
/* ميديا لشاشات اللابتوب */
@media screen and (max-width:1440px){
    footer{
            padding: 40px 0;
            gap: 40px;
    }
    .first_type_footer{
        img {
            max-width:  120px;
        }
        ul {
        gap: 20px;
        }
    }
}

/* ميديا للشاشات الصغيرة */
@media screen and (max-width:992px){
    footer{
        padding: 30px 0;
        gap: 30px;
        text-align: center;
    }
    .first_type_footer{
        flex-direction: column;
        gap: 30px;
        h1 {
            width: 100%;
            border-bottom: 1px solid var(--whit-gray-color);
            padding-bottom: 30px;
        }
    ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    }
}