.y-Icon-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--whit-gray-color);
    border-radius: 8px;
    padding: 14px;
    font-weight: 400;
    p {
    color: #98989A;
    }

}
.icon {
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
    padding: 16px;
    border-radius: 8px;
    img {
        max-width: 20px;
    }
}

@media screen and (max-width:992px){
    .y-Icon-button{
        flex-direction: column;
    }
}