.DA_Card {
  max-width: 100%;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  height:100% ;
  border: 1px solid var(--whit-gray-color);
  border-left: none;
  h2{
    color: var(--whit-green-text-color);
    font-weight: 500;
    font-size: 28px;
    line-height: 150%;
  }
  p{
    font-weight: 400;
    font-size: 18px;
    margin-top: 24px;
    line-height: 150%;
    color: rgba(230, 230, 230, 1);
  }
    .ContentCard{
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 100%;
        height: 103px;
        border-radius: 8px;
        border: 1px solid var(--whit-gray-color);
        padding: 21.5px 20px;
        margin-top: auto;
        .DA_Img{
            width: 60px;
            height: 60px;
            border-radius: 8px;
            object-fit: cover;
        }
        .DA_Info{
            h3{
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                padding-bottom: 2px;
            }
            span{
                    color: rgba(230, 230, 230, 1);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
            }
        }
        .DA_Button{
                width: 149px;
                height: 63px;
                border-radius: 8px;
                padding: 18px 20px;
                background-color: rgba(38, 38, 38, 1);
                margin-left: auto;
                border: 1px solid #262626;
                cursor: pointer;
                color:rgba(255, 255, 255, 1) ;
                
                button{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                }
                &:hover{
                    background-color: var(--whit-green-text-color);
                    color: black;
                }
        }
    }
}


@media screen and (max-width:1440px)  {
    .DA_Card{
        padding: 80px 60px;
        width:100%;
        h2{
            font-size: 20px;
            min-height: 80px;
        }
        p{
            font-size: 16px;
            padding-bottom: 35px !important;
            flex-grow: 1;
        }
        .ContentCard{
            gap: 6px;
            height: 78px;
            border-radius: 6px;
            padding: 14px;
            margin-top: auto;
            .DA_Img{
                width: 50px;
                height: 50px;
                border-radius: 6px;
            }
            .DA_Info{
                h3{
                    font-size: 16px;
                    padding-bottom: 0;
                }
                span{
                    font-size: 14px;
                }
            }
            .DA_Button{
                width: 117px;
                height: 49px;
                border-radius: 6px;
                padding: 14px 16px ;
                button{
                    font-size: 14px;
                }
            }
        }
    }
}


@media screen and (max-width:992px) {
        .DA_Card{
        padding: 40px 24px;
        width: 100%;
        height: auto;
        h2{
            font-size: 18px;
            min-height: 54px;
        }
        p{
            font-size: 14px;
            padding-bottom: 24px;
        }
        .ContentCard{
            height: 73px;
            gap: 10px;
            .DA_Img{
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
            .DA_Button{
                display: none;
            }
        }
    }
}