/* بعد خارجي */

.yb-about-squareUp{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    align-items: center;
    gap: 100px;
    border: 1px solid var(--whit-gray-color);

    .yb-squareUp-text{
        display: flex;
        flex-direction: column;
        width: 598px;
        gap: 20px;
    }

    .yb-squareUp-title{
        font-size: 48px;
        font-weight: 600;
        color: white;
    }

    .yb-squareUp-description{
        font-size: 20px;
        color: white;
    }
}
    /* تنسيق الصورة */
    .yb-about-image{
        position: relative;
        width: 598px;
        height: 571px;

        background-size: cover;
        background-position: center;
    }

    /* لنسيق صورة الخلفية  */
.yb_heroBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    inset: 0;
    /* سحب الوان الصورة و جعلها داكنة */
    filter: grayscale(94%) brightness(0.2);
    opacity: 0.88;
    z-index: 1;
}
/* وضع صورة  الثانية و وضع شفافية */
.yb_TopheroBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/backgroundsection.png');
    opacity: 0.6;
    z-index: 3;
}


/* تنسيق الايقونة داخل الصورة */
.yb-icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0 0 90px rgba(255,255,255,0.6));
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 27px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 16;
        box-shadow: 0px 0px 23px 16px #FFFFFF80 inset;
        background: var(--lime-green-color);
        background-size: contain;      
        width: 150.7px;
        height: 150px;
        .yb-icon-squareUp{
            width: 80px;
            height: 80px;
        }
    }

    /* تنسيق الخطوط داخل الصورة*/
    .yb-lines{
        
        .yb-line{
            position: absolute;
            
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            border: none;
            transform: translate(-50%, -50%);
            z-index: 16;
            background: linear-gradient(90deg, transparent 0%, rgba(172, 255, 36, 0.3) 20%, rgba(172, 255, 36, 0.8) 50%, rgba(172, 255, 36, 0.3) 80%, transparent 100%);
        }

        .yb-line1{
            transform: translate(-50%, -50%) rotate(0deg);
        }

        .yb-line2{
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .yb-line3{
            transform: translate(-50%, -50%) rotate(180deg);
        }

        .yb-line4{
            transform: translate(-50%, -50%) rotate(270deg);
        }
    }

@media screen and (max-width:1440px) {

    .yb-about-squareUp{
    .yb-squareUp-text{
        width: 490px;
        gap: 16px;
    }

    .yb-squareUp-title{
        font-size: 38px;
    }

    .yb-squareUp-description{
        font-size: 16px;
    }
}
.yb-about-image{
    max-width: 490px;
}

.yb-icon-wrapper{
    width: 100.47px;
    height: 100px;
    border-radius: 16px;
    .yb-icon-squareUp {
        width: 53.33px;
        height: 60px;
    }
}
}

@media screen and (max-width:992px){

    .yb-about-squareUp{
        display: flex;
        flex-direction: column;
        padding: 40px 16px;
        gap: 30px;

    .yb-squareUp-text{
        padding: 0 16px;
        width: 100%;
        gap: 16px;
    }

    .yb-squareUp-title{
        font-size: 28px;
    }

    .yb-squareUp-description{
        font-size: 14px;
    }
}
.yb-about-image{
    padding: 0 16px;
    width: 358px;
    height: 337px;
}

.yb-icon-wrapper{
    width: 80.38px;
    height: 80px;
    border-radius: 12px;
    .yb-icon-squareUp {
        width: 42.67px;
        height: 48px;
    }
}
}
